<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
		crossorigin="anonymous">
		<title th:text="'Dettagli del buffet '+${buffet.nome}">Dettagli buffet</title>
	</head>
	<body>
		<div th:replace="page-header :: header"></div>
		<div class="container">
			<section class="py-5 text-center container">
				<div class="row py-lg-5">
					<div class="col-lg-6 col-md-8 mx-auto">
						<h1 class="fw-light" th:text="${buffet.nome}">Nome</h1>
						<p class="lead text-muted" th:text="${buffet.descr}">Descrizione</p>
					</div>
				</div>
			</section>
		
		<div class="container">
            <div th:replace="page-footer :: footer"></div>
        </div>
	</body>
</html>
