<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base :: head(titolo='Dettagli buffet '+ ${buffet.nome})"></head>
	<body>
		<div th:replace="fragments/base :: header"></div>

		<section th:replace="fragments/base :: up-details-section(mainText=|${buffet.nome}|, minorText=|${buffet.descr}|, 
			src='/images/Breakfast_Buffet_Top_Hero.png', deleteLink=|@{'/admin/deleteBuffet/'+${buffet.id}}|, editLink=|@{'/admin/editBuffet/'+${buffet.id}}|)"></section>
			
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-4 text-center">
						<img class="rounded-2 shadow-lg" style="object-fit: cover;" height="250" aria-label="Placeholder: Thumbnail"
							th:src="@{${buffet.immaginePath}}">
					</div>
				</div>
				<br>
				<div class="container row">
					<div class="col">
						<h3>Antipasti</h3>
						<div th:each="piatto : ${piattiDelBuffet}">
							<div th:if="${piatto.classificazione.equals(T(it.uniroma3.siw.pietropaolo.model.pojo.Classificazione).ANTIPASTO)}">
								<a class="text-decoration-none" th:href="@{'/users/piatto/'+ ${piatto.id}}"><h6 th:text="${piatto.nome}">Piatto</h6></a>
								<p th:text="${piatto.descrizione}">Descrizione</p>
							</div>
						</div>
						<hr>
						<h3>Primi</h3>
						<div th:each="piatto : ${piattiDelBuffet}">
							<div th:if="${piatto.classificazione.equals(T(it.uniroma3.siw.pietropaolo.model.pojo.Classificazione).PRIMO)}">
								<a class="text-decoration-none" th:href="@{'/users/piatto/'+ ${piatto.id}}"><h6 th:text="${piatto.nome}">Piatto</h6></a>
								<p th:text="${piatto.descrizione}">Descrizione</p>
							</div>
						</div>
					</div>
					<div class="col">
						<h3>Secondi</h3>
						<div th:each="piatto : ${piattiDelBuffet}">
							<div th:if="${piatto.classificazione.equals(T(it.uniroma3.siw.pietropaolo.model.pojo.Classificazione).SECONDO)}">
								<a class="text-decoration-none" th:href="@{'/users/piatto/'+ ${piatto.id}}"><h6 th:text="${piatto.nome}">Piatto</h6></a>
								<p th:text="${piatto.descrizione}">Descrizione</p>
							</div>
						</div>
						<hr>
						<h3>Contorni</h3>
						<div th:each="piatto : ${piattiDelBuffet}">
							<div th:if="${piatto.classificazione.equals(T(it.uniroma3.siw.pietropaolo.model.pojo.Classificazione).CONTORNO)}">
								<a class="text-decoration-none" th:href="@{'/users/piatto/'+ ${piatto.id}}"><h6 th:text="${piatto.nome}">Piatto</h6></a>
								<p th:text="${piatto.descrizione}">Descrizione</p>
							</div>
						</div>
						<hr>
						<h3>Dolci</h3>
						<div th:each="piatto : ${piattiDelBuffet}">
							<div th:if="${piatto.classificazione.equals(T(it.uniroma3.siw.pietropaolo.model.pojo.Classificazione).DOLCE)}">
								<a class="text-decoration-none" th:href="@{'/users/piatto/'+ ${piatto.id}}"><h6 th:text="${piatto.nome}">Piatto</h6></a>
								<p class="secondary" th:text="${piatto.descrizione}">Descrizione</p>
							</div>
						</div>
					</div>			
				</div>				
			</div>
		</div>
		
		
        <div th:replace="fragments/base :: footer"></div>
	</body>
	<script th:replace="fragments/base :: script"></script>	
</html>
