<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base :: head(titolo=#{title.buffet}+' '+ ${buffet.nome})"></head>
	<body>
		<div th:replace="fragments/base :: header"></div>

		<section th:replace="fragments/base :: up-details-section(mainText=|${buffet.nome}|, 
																	minorText=|${buffet.descr}|, 
																	src=#{buffet.listSrc}, 
																	editLink=|@{'/admin/editBuffet/'+${buffet.id}}|, 
																	modalLink=|#modal${buffet.id}|)"></section>
			
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-4 text-center">
						<img class="rounded-2 shadow-lg" style="object-fit: cover;" height="250" aria-label="Placeholder: Thumbnail"
							th:src="@{${buffet.immaginePath}}">
					</div>
				</div>
				<br>
				<div class="container row">
					<div class="col text-center">
						<h3>Antipasti</h3>
						<hr width="70%" style="margin: auto;">
						<div th:each="piatto : ${piattiDelBuffet}">
							<div th:if="${piatto.classificazione.equals(T(it.uniroma3.siw.pietropaolo.model.pojo.Classificazione).ANTIPASTO)}">
								<a class="text-decoration-none link-secondary" th:href="@{'/users/piatto/'+ ${piatto.id}}"><h5 th:text="${piatto.nome}">Piatto</h5></a>
								<div  class="text-muted" th:text="${piatto.descrizione}">Descrizione</div>
								<p><small class="text-muted">(
									<span th:each="ingrediente, itemStat : ${piatto.ingredienti}" 
										th:text="!${itemStat.last} ? ${ingrediente.nome}+', ' : ${ingrediente.nome}+' )'"></span>
								</small></p>
							</div>
						</div>
						<h3>Primi</h3>
						<hr width="70%" style="margin: auto;">
						<div th:each="piatto : ${piattiDelBuffet}">
							<div th:if="${piatto.classificazione.equals(T(it.uniroma3.siw.pietropaolo.model.pojo.Classificazione).PRIMO)}">
								<a class="text-decoration-none link-secondary" th:href="@{'/users/piatto/'+ ${piatto.id}}"><h5 th:text="${piatto.nome}">Piatto</h5></a>
								<div class="text-muted" th:text="${piatto.descrizione}">Descrizione</div>
								<p><small class="text-muted">(
									<span th:each="ingrediente, itemStat : ${piatto.ingredienti}" 
										th:text="!${itemStat.last} ? ${ingrediente.nome}+', ' : ${ingrediente.nome}+' )'"></span>
								</small></p>
							</div>
						</div>
					</div>
					<div class="col text-center">
						<h3>Secondi</h3>
						<hr width="70%" style="margin: auto;">
						<div th:each="piatto : ${piattiDelBuffet}">
							<div th:if="${piatto.classificazione.equals(T(it.uniroma3.siw.pietropaolo.model.pojo.Classificazione).SECONDO)}">
								<a class="text-decoration-none link-secondary" th:href="@{'/users/piatto/'+ ${piatto.id}}"><h5 th:text="${piatto.nome}">Piatto</h5></a>
								<div class="text-muted" th:text="${piatto.descrizione}">Descrizione</div>
								<p><small class="text-muted">(
									<span th:each="ingrediente, itemStat : ${piatto.ingredienti}" 
										th:text="!${itemStat.last} ? ${ingrediente.nome}+', ' : ${ingrediente.nome}+' )'"></span>
								</small></p>
							</div>
						</div>
						<h3>Contorni</h3>
						<hr width="70%" style="margin: auto;">
						<div th:each="piatto : ${piattiDelBuffet}">
							<div th:if="${piatto.classificazione.equals(T(it.uniroma3.siw.pietropaolo.model.pojo.Classificazione).CONTORNO)}">
								<a class="text-decoration-none link-secondary" th:href="@{'/users/piatto/'+ ${piatto.id}}"><h5 th:text="${piatto.nome}">Piatto</h5></a>
								<div class="text-muted" th:text="${piatto.descrizione}">Descrizione</div>
								<p><small class="text-muted">(
									<span th:each="ingrediente, itemStat : ${piatto.ingredienti}" 
										th:text="!${itemStat.last} ? ${ingrediente.nome}+', ' : ${ingrediente.nome}+' )'"></span>
								</small></p>
							</div>
						</div>
						<h3>Dolci</h3>
						<hr width="70%" style="margin: auto;">
						<div th:each="piatto : ${piattiDelBuffet}">
							<div th:if="${piatto.classificazione.equals(T(it.uniroma3.siw.pietropaolo.model.pojo.Classificazione).DOLCE)}">
								<a class="text-decoration-none link-secondary" th:href="@{'/users/piatto/'+ ${piatto.id}}"><h5 th:text="${piatto.nome}">Piatto</h5></a>
								<div class="text-muted" th:text="${piatto.descrizione}">Descrizione</div>
								<p><small class="text-muted">(
									<span th:each="ingrediente, itemStat : ${piatto.ingredienti}" 
										th:text="!${itemStat.last} ? ${ingrediente.nome}+', ' : ${ingrediente.nome}+' )'"></span>
								</small></p>
							</div>
						</div>
					</div>			
				</div>				
			</div>
		</div>
		
		<!--Delete Modal -->
		<div class="modal fade" th:id="'modal'+${buffet.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Attenzione!</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" th:text="'Sicuro di voler cancellare il buffet: '+${buffet.nome}+'?'"></div>
				<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annulla</button>
				<button type="button" class="btn btn-dark"  th:data-url="@{'/admin/deleteBuffet/'+${buffet.id}}" onclick="window.location = this.getAttribute('data-url')">Elimina</button>
				</div>
			</div>
			</div>
		</div>
		
        <div th:replace="fragments/base :: footer"></div>
	</body>
	<script th:replace="fragments/base :: script"></script>	
</html>
