<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base :: head(titolo='Dettagli chef '+${chef.nome})"></head>
	<body>
		<div th:replace="fragments/base :: header"></div>
		

		<section th:replace="fragments/base :: up-section(mainText=|${chef.nome} ${chef.cognome}|, minorText=|${chef.nazionalita}|)"></section>

		<div class="container d-flex justify-content-between align-items-center" sec:authorize="hasAuthority('ADMIN')">
			<div class="btn-group">
				<button type="button" class="btn btn-sm btn-secondary" th:data-url="@{'/admin/deleteChef/'+${chef.id}}" onclick="window.location = this.getAttribute('data-url')">Cancella</button>
				<button type="button" class="btn btn-sm btn-secondary" th:data-url="@{'/admin/editChef/'+${chef.id}}" onclick="window.location = this.getAttribute('data-url')">Modifica</button>
			</div>
		</div>
		<br>

		

		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col" th:each="buffet:${listaBuffet}">
						<div th:replace="listaBuffet :: listaBuffet">
					</div>
				</div>
			</div>
		</div>

		<div th:replace="fragments/base :: footer"></div>
	</body>
	<script th:replace="fragments/base :: script"></script>	
</html>
