<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base :: head(titolo='Modifica buffet '+ ${buffet.nome})"></head>
	<body>
		<div th:replace="fragments/base :: header"></div>

		<div class="container"><h4>Aggiorna buffet</h4></div>
		
		<form th:action = "@{'/admin/editBuffet/'+${buffet.id}}" method = "post" th:object = "${buffet}">
			<div class="container">
				<div th:replace="buffetForm :: formBuffet"></div>
			</div>
		</form>

		<div th:replace="buffetForm :: modals"></div>

		<div th:replace="fragments/base :: footer"></div>
	</body>
	<script th:replace="fragments/base :: script"></script>
</html>