<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/base :: head(titolo='Home')"></head>
    <body>
        <div th:replace="fragments/base :: header"></div>

        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">Catering</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Questo sito parla di catering!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                </div>
            </div>
        </div>
        
        <div th:replace="fragments/base :: footer"></div>
    </body>
    <script th:replace="fragments/base :: script"></script>
</html>