<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link href="/css/my-style.css" rel="stylesheet">
		<title>Index</title>
	</head>
	<body>
		<div th:replace="page-header :: header"></div>
		<div>
			<h4>Operazioni</h4>
			<div>
				<a th:href="@{/buffetForm}" href='#'>Inserisci Buffet</a>
			</div>
			<div>
				<a th:href="@{/chefForm}" href='#'>Inserisci Chef</a>
			</div>
			<div>
				<a th:href="@{/listaBuffet}" href='#'>Tutti i buffet</a>
			</div>
			<div>
				<a th:href="@{/listaChef}" href='#'>Tutti gli chef</a>
			</div>
		</div>
	</body>
</html>