<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base :: head(titolo='Index')"></head>
	<body>
		<div th:replace="fragments/base :: header"></div>

		<div>
			<h4>Operazioni</h4>
			<div>
				<a th:href="@{/buffetForm}" href='#'>Inserisci Buffet</a>
			</div>
			<div>
				<a th:href="@{/chefForm}" href='#'>Inserisci Chef</a>
			</div>
			<div>
				<a th:href="@{/piattoForm}" href="#">Inserisci Piatto</a>
			</div>
			<div>
				<a th:href="@{/listaBuffet}" href='#'>Tutti i buffet</a>
			</div>
			<div>
				<a th:href="@{/listaChef}" href='#'>Tutti gli chef</a>
			</div>
		</div>
		
        <div th:replace="fragments/base :: footer"></div>
	</body>
	<script th:replace="fragments/base :: script"></script>
</html>