<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base :: head(titolo='Dettagli ingrediente '+ ${ingrediente.nome})"></head>
    <body>
        <div th:replace="fragments/base :: header"></div>

        <section th:replace="fragments/base :: up-details-section(mainText=|${ingrediente.nome}|, minorText=|${ingrediente.descr}|, src=#{ingrediente.listSrc},
            deleteLink=|@{'/admin/deleteIngrediente/'+${ingrediente.id}}|, editLink=|@{'/admin/editIngrediente/'+${ingrediente.id}}|)"></section>

        <div class="album py-5 bg-light">
            <div class="row">
                <div class="col text-center">
                    <p class="lead" th:text="${ingrediente.origine}">Tutti i piatti dove è presente</p>
                    <img th:src="@{${ingrediente.immaginePath}}" class="rounded-circle" width="140" height="140" style="object-fit: cover;">
                    <br>
                    <h2>Tutti i piatti dove è presente</h2>
                    <br>
                </div>
            </div>
            <div th:replace="listaPiatti :: listaPiatti"></div>
        </div>

        <div th:replace="fragments/base :: footer"></div>
    </body>
    <script th:replace="fragments/base :: script"></script>	
</html>