<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base :: head(titolo='Lista chef')"></head>
	<body>
		<div th:replace="fragments/base :: header"></div>

		<h4>Elenco chef</h4>
		<ul>
			<li th:each="chef:${listaChef}">
				<span><a href="chef.html" 
					th:href="@{'/users/chef' + '/' + ${chef.id}}" 
					th:text="${chef.nome} + ' ' +${chef.cognome}">Mario Rossi</a></span>
				<span sec:authorize="hasAuthority('ADMIN')"><a href="listaChef.html"
					th:href="@{'/admin/deleteChef/'+${chef.id}}"
					th:text="Cancella">Cancella</a></span>
			</li>
		</ul>

		<div th:replace="fragments/base :: footer"></div>
	</body>
	<script th:replace="fragments/base :: script"></script>
</html>