<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<title>Lista chef</title>
	</head>
	<body>
		<div>
            <div th:replace="page-header :: header"></div>
        </div>
		<h4>Elenco chef</h4>
		<ul>
			<li th:each="chef:${listaChef}">
				<span><a href="chef.html" 
					th:href="@{'/users/chef' + '/' + ${chef.id}}" 
					th:text="${chef.nome} + ' ' +${chef.cognome}">Mario Rossi</a></span>
				<span sec:authorize="hasAuthority('ADMIN')"><a href="listaChef.html"
					th:href="@{'/admin/deleteChef/'+${chef.id}}"
					th:text="Cancella">Cancella</a></span>
			</li>
		</ul>
		<div class="container">
            <div th:replace="page-footer :: footer"></div>
        </div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>