<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link href="/css/my-style.css" rel="stylesheet">
		<title>Lista chef</title>
	</head>
	<body>
		<h4>Elenco chef</h4>
		<ul>
			<li th:each="chef:${listaChef}">
				<span><a href="chef.html" 
					th:href="@{'/chef' + '/' + ${chef.id}}" 
					th:text="${chef.nome} + ' ' +${chef.cognome}">Mario Rossi</a></span>
				<span><a href="listaChef.html"
					th:href="@{'/deleteChef/'+${chef.id}}"
					th:text="Cancella">Cancella</a></span>
			</li>
		</ul>
		<div>
			<a href="/">Home</a>
		</div>
	</body>
</html>