<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/base :: head(titolo=#{title.registerSuccess})"></head>

    <body>
        <div th:replace="fragments/base :: header"></div>

        <section style="background-image: url('/images/Ginevra_2018-115.jpg'); background-size: cover; background-position: center;">
            <div class="modal modal-lg position-static d-block py-5" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content shadow">
                        <div class="modal-header p-5 pb-4 border-bottom-0">
                            <h2 class="fw-bold mb-0">Congratulazioni!</h2>
                        </div>
                        <div class="modal-body text-center">
                            <p class="lead">Ti sei registrato!</p>
                            <p><a class="btn btn-dark" href="/">Home</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div th:replace="fragments/base :: footer"></div>
    </body>
    <script th:replace="fragments/base :: script"></script>
</html>