<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base :: head(titolo='Inserimento chef')"></head>
	<body>
		<div th:replace="fragments/base :: header"></div>

		<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" style="background-image: url('/images/Ginevra_2018-115.jpg'); background-size: cover; background-position: center; ">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content shadow rounded-4">
					<div class="modal-header p-5 pb-4 border-bottom-0">
						<h2 class="fw-bold mb-0" th:text="${text}"></h2>
					</div>

					<form th:action = "@{${actionLink}}" method = "post" enctype="multipart/form-data">
						<div class="modal-body p-5 pt-0">

							<br>
							<div class="form-group col-md-6">
								  <input class="form-control" required type="file" name="image" accept="image/png, image/jpg, image/jpeg">
							</div>
							<br>
							<div><button class="btn btn-secondary" type = "submit">Conferma</button></div>
						</div>						
					</form>
				</div>
			</div>
		</div>

		<div th:replace="fragments/base :: footer"></div>
	</body>
	<script th:replace="fragments/base :: script"></script>	
</html>